/*.content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    }

#forum {
	margin: 0% 20% 0% 20%;
}
*/
div.row {
	height: 100%;
	background-image: url("https://met8.github.io/background.jpg");
	background-repeat: no-repeat;
	-webkit-background-size: 100%; /*for webKit*/
        -moz-background-size: cover; /*Mozilla*/
        -o-background-size: cover; /*opera*/
        background-size: cover; /*generic*/	
	background-color: white;
	background-attachment: scroll;
	border: 2px solid grey;
	    overflow-y: scroll;

    display: flex;

    /* flex-direction: column;*/
    align-items: center; 
}
	
.container {
	    overflow-y: hidden;

}


#ourCol {
}

#forum {

  background-color: rgba(0, 0, 0, 0.5);
	border: 2px solid grey;
	padding: 15px;
}

label {
	color: white;
}

h2, p {
	text-align: center;
	color: white;
}

