/*.content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    }

#forum {
	margin: 0% 20% 0% 20%;
}
*/
div.row {
	/*height: 100%;
	

	background-image: url("https://met8.github.io/background.jpg");
	background-repeat: no-repeat;
	background-color: white;
	border: 2px solid grey;
	background-size: cover !important;
height: 100vh !important;
overflow: hidden !important;
*/
    display: flex;

    /* flex-direction: column;*/
    align-items: center; 
}
	
.container {


}


#ourCol {
}

#forum {

  background-color: rgba(0, 0, 0, 0.5);
	border: 2px solid grey;
	padding: 15px;
}

label {
	color: white;
}

h2, p {
	text-align: center;
	color: white;
}

body {
	background-image: url("https://met8.github.io/background.jpg");
	background-repeat: no-repeat;
	background-color: white;
	border: 2px solid grey;
	background-size: cover !important;
}

